<!doctype html>
<html lang="en">

<head>
    <!--
    /   Multipurpose: Free Template by FreeHTML5.co
    /   Author: https://freehtml5.co
    /   Facebook: https://facebook.com/fh5co
    /   Twitter: https://twitter.com/fh5co
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>Multipurpose</title>
    <!-- Stylesheets & Fonts -->
    <script src="https://kit.fontawesome.com/e326d32ffe.js" crossorigin="anonymous"></script>
    <link href="assets/css/bootstrap/bootstrap.min.css" rel="stylesheet">

    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i%7CRajdhani:400,600,700"
        rel="stylesheet">
    <!-- Plugins Stylesheets -->
    <link rel="stylesheet" href="assets/css/loader/loaders.css">
    <link rel="stylesheet" href="assets/css/card-products.css">
    <link rel="stylesheet" href="assets/css/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/aos/aos.css">
    <link rel="stylesheet" href="assets/css/swiper/swiper.css">
    <link rel="stylesheet" href="assets/css/lightgallery.min.css">
    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="shop.css">
</head>

<body>
    <!-- Loader Start -->
    <div class="css-loader">
        <div class="loader-inner line-scale d-flex align-items-center justify-content-center"></div>
    </div>
    <!-- Loader End -->
    <!-- Header Start -->
    
    <header class="position-absolute w-100" style="background-color: black;">
        
        <div class="container">
            
            <div class="top-header d-none d-sm-flex justify-content-between align-items-center">
                <div class="contact">
                    <a href="tel:+1234567890" class="tel"><i class="fa fa-phone" aria-hidden="true"></i>+1234567890</a>
                    <a href="mailto:info@yourmail.com"><i class="fa fa-envelope"
                            aria-hidden="true"></i>info@yourmail.com</a>
                </div>
                <nav class="d-flex aic">
                    <a href="#" class="login"><i class="fa fa-user" aria-hidden="true"></i>Login</a>
                    <ul class="nav social d-none d-md-flex">
                        <li><a href="https://www.facebook.com/fh5co" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </nav>
            </div>
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="index.html"><img src="assets/images/LOGO4.png" alt="Multipurpose"></a>
                <div class="group d-flex align-items-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button>
                    <a class="login-icon d-sm-none" href="#"><i class="fa fa-user"></i></a>
                    <a class="cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                    
                </div>
                <a class="search-icon d-none d-md-block" href="#"><i class="fa fa-search"></i></a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="aboutus.html">About Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
                        <!-- Condition of Connection is nesseary -->
                        <li class="nav-item"><a class="nav-link" href="#">Wish list</a></li>
                        <li class="nav-item"><a class="nav-link" href="shop.html">Shop</a></li>
                        <li class="nav-item"><a class="nav-link" href="contactus.html">Contact Us</a></li>
                    </ul>
                    <form class="bg-white search-form" method="get" id="searchform">
                        <div class="input-group">
                            <input class="field form-control" id="s" name="s" type="text" placeholder="Search">
                            <span class="input-group-btn">
                                <input class="submit btn btn-primary" id="searchsubmit" name="submit" type="submit"
                                    value="Search">
                            </span>
                        </div>
                    </form>
                </div>
            </nav>
        
        </div>
    </header>

    <!-- Header End -->
   <main class="shop-main">
      <div  class="container_shop">
         <div class="filter_box" data-aos="fade-right" data-aos-delay="400">
               <div class="filter-header">
                   <h4 class="filter_title">Filter</h4>
                   <a href="#" class="filter-close label">
                    <i class="fas fa-times"></i>
                   </a>
               </div>
               <div class="filter-block">
                 <h4 class="filter_title">Category</h4>
                 <ul>
                       <li>
                        <div class="checkbox-container">
                            <div class="custom-checkbox">
                              <input type="checkbox" id="books">
                              <label for="books"></label>
                            </div>
                            <label class="category-type" for="books">Books</label>
                          </div>
                       </li>
                       <li>
                        <div class="checkbox-container">
                            <div class="custom-checkbox">
                              <input type="checkbox" id="movies">
                              <label for="movies"></label>
                            </div>
                            <label class="category-type" for="movies">Movies</label>
                          </div>
                       </li>
                       <li>
                          <div class="checkbox-container">
                              <div class="custom-checkbox">
                                <input type="checkbox" id="voice">
                                <label for="voice"></label>
                              </div>
                              <label class="category-type" for="voice">Voice Over</label>
                            </div>
                       </li>
                       <li>
                          <div class="checkbox-container">
                              <div class="custom-checkbox">
                                <input type="checkbox" id="costumes">
                                <label for="costumes"></label>
                              </div>
                              <label class="category-type" for="costumes">Character Costumes</label>
                            </div>
                       </li>
                  </ul>
              </div>
              <div class="filter-block">
                <h4 class="filter_title">Genres</h4>
                <ul>
                      <li>
                       <div class="checkbox-container">
                           <div class="custom-checkbox">
                             <input type="checkbox" id="drama">
                             <label for="drama"></label>
                           </div>
                           <label class="category-type" for="drama">Drama</label>
                         </div>
                      </li>
                      <li>
                       <div class="checkbox-container">
                           <div class="custom-checkbox">
                             <input type="checkbox" id="fantasy">
                             <label for="fantasy"></label>
                           </div>
                           <label class="category-type" for="fantasy">Fantasy</label>
                         </div>
                      </li>
                      <li>
                         <div class="checkbox-container">
                             <div class="custom-checkbox">
                               <input type="checkbox" id="comic">
                               <label for="comic"></label>
                             </div>
                             <label class="category-type" for="comic">Comic</label>
                           </div>
                      </li>
                      <li>
                         <div class="checkbox-container">
                             <div class="custom-checkbox">
                               <input type="checkbox" id="mystery">
                               <label for="mystery"></label>
                             </div>
                             <label class="category-type" for="mystery">Mystery</label>
                           </div>
                      </li>
                      <li>
                        <div class="checkbox-container">
                            <div class="custom-checkbox">
                              <input type="checkbox" id="classics">
                              <label for="classics"></label>
                            </div>
                            <label class="category-type" for="classics">Classics</label>
                          </div>
                     </li>
                     <li>
                        <div class="checkbox-container">
                            <div class="custom-checkbox">
                              <input type="checkbox" id="romance">
                              <label for="romance"></label>
                            </div>
                            <label class="category-type" for="romance">Romance</label>
                          </div>
                     </li>
                     <li>
                        <div class="checkbox-container">
                            <div class="custom-checkbox">
                              <input type="checkbox" id="suspense">
                              <label for="suspense"></label>
                            </div>
                            <label class="category-type" for="suspense">Suspense and Thrillers</label>
                          </div>
                     </li>
                     <li>
                        <div class="checkbox-container">
                            <div class="custom-checkbox">
                              <input type="checkbox" id="historical">
                              <label for="historical"></label>
                            </div>
                            <label class="category-type" for="historical">Historical Fiction</label>
                          </div>
                     </li>
                     <li>
                        <div class="checkbox-container">
                            <div class="custom-checkbox">
                              <input type="checkbox" id="action">
                              <label for="action"></label>
                            </div>
                            <label class="category-type" for="action">Action</label>
                          </div>
                     </li>
                     <li>
                        <div class="checkbox-container">
                            <div class="custom-checkbox">
                              <input type="checkbox" id="fashion">
                              <label for="fashion"></label>
                            </div>
                            <label class="category-type" for="fashion">Fashion</label>
                          </div>
                     </li>
                     

                 </ul>
             </div>
             <div class="filter-block">
                <h4 class="filter_title">Size</h4>
                <div class="size-list">
                    <button class="size-option" name="xs">XS</button>
                    <button class="size-option" name="s">S</button>
                    <button class="size-option" name="m">M</button>
                    <button class="size-option" name="L">L</button>
                    <button class="size-option" name="XL">XL</button>
                    <button class="size-option" name="XXL">XXL</button>
                    <button class="size-option" name="XXXL">XXXL</button>
                </div>
             </div>
             <div class="filter-block">
                <h4 class="filter_title">Color</h4>
                <div class="color-list">
                    <button class="color-option" id="red" name="red">Red</button>
                    <button class="color-option"id="green" name="green">Green</button>
                    <button class="color-option"id="blue" name="blue">Blue</button>
                    <button class="color-option"id="yellow" name="yellow">Yellow</button>
                    <button class="color-option"id="black" name="black">Black</button>
                    <button class="color-option"id="white" name="white">White</button>
                </div>
             </div>
             <div class="filter-block">
                <h4 class="filter_title">Price</h4>
                <div class="value-container">
                    <label for="min-value">Min Value</label>
                    <input class="price-filter" type="number" id="min-value" placeholder="Min Value">
                    <br>
                    <label for="max-value">Max Value</label>
                    <input   class="price-filter" type="number" id="max-value" placeholder="Max Value">
                </div>
             </div>
             <button class="filter-btn  w-100 py-3" type="submit" onclick="checkPrices()" >Filter</button>
         </div>
         <div class="shop-section">
            <div class="shop-header" data-aos="fade-left" data-aos-delay="500">
                <h1 class="shop-title">Shop</h1>
                <div class="sort-container">
                    <div class="item-filter desktophide">
                        <a href="#" class="filter-trigger label">
                            <i class="fas fa-bars nav-toggle"></i>
                            <span >Filter</span>
                        </a>
                    </div>
                    <div class="sort">
                        <label for="sort-by">Sort by : </label>
                        <select id="sort-by">
                          <option value="price-high-to-low">Price: High to Low</option>
                          <option value="price-low-to-high">Price: Low to High</option>
                          <option value="rating-high-to-low">Rating: High to Low</option>
                        </select>            
                    </div>
                </div>
            </div>
        
            <div class="container-product"data-aos="fade-up" data-aos-delay="600">
                <section class="slider" >
                    <div class="product-card">
                        <div class="product-card-content">
                            <img src="./assets/images/Apple-iPhone-12-Pro.png" alt="" class="product-card-img">
                            <h1 class="product-card-title">HP Spectre x360 15</h1>
                            <div class="product-card-body">
                                <div class="product-card-star">
                                    <span class="rating-value">4.5</span>
                                    <span class="star">&#9733;</span>
                                </div>
                                <p class="product-card-price">$650.99</p>
                            </div>
                            <div class="product-card-footer">
                                <button  class="filter-btn product-btn product-btn-success">Buy Now</button>
                            </div>
                            
                            <div class="hoverable">
                                <ul>
                                    <li class="active">
                                        <a class="active" href="#"><i class="fa fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-eye"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-card-content">
                            <img src="./assets/images/Apple-iPhone-12-Pro.png" alt="" class="product-card-img">
                            <h1 class="product-card-title">HP Spectre x360 15</h1>
                            <div class="product-card-body">
                                <div class="product-card-star">
                                    <span class="rating-value">4.5</span>
                                    <span class="star">&#9733;</span>
                                </div>
                                <p class="product-card-price">$650.99</p>
                            </div>
                            <div class="product-card-footer">
                                <button  class="filter-btn product-btn product-btn-success">Buy Now</button>
                            </div>
                            
                            <div class="hoverable">
                                <ul>
                                    <li class="active">
                                        <a class="active" href="#"><i class="fa fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-eye"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="product-card" >
                        <div class="product-card-content">
                            <img src="./assets/images/Apple-iPhone-12-Pro.png" alt="" class="product-card-img">
                            <h1 class="product-card-title">HP Spectre x360 15</h1>
                            <div class="product-card-body">
                                <div class="product-card-star">
                                    <span class="rating-value">4.5</span>
                                    <span class="star">&#9733;</span>
                                </div>
                                <p class="product-card-price">$650.99</p>
                            </div>
                            <div class="product-card-footer">
                                <button  class="filter-btn product-btn product-btn-success">Buy Now</button>
                            </div>
                            
                            <div class="hoverable">
                                <ul>
                                    <li class="active">
                                        <a class="active" href="#"><i class="fa fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-eye"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-card-content">
                            <img src="./assets/images/Apple-iPhone-12-Pro.png" alt="" class="product-card-img">
                            <h1 class="product-card-title">HP Spectre x360 15</h1>
                            <div class="product-card-body">
                                <div class="product-card-star">
                                    <span class="rating-value">4.5</span>
                                    <span class="star">&#9733;</span>
                                </div>
                                <p class="product-card-price">$650.99</p>
                            </div>
                            <div class="product-card-footer">
                                <button  class="filter-btn product-btn product-btn-success">Buy Now</button>
                            </div>
                            
                            <div class="hoverable">
                                <ul>
                                    <li class="active">
                                        <a class="active" href="#"><i class="fa fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-eye"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    
                </section>
            </div>
         </div>
      </div>
   </main>
    <!-- Call To Action 2 End -->
    <!-- Footer Start -->
    <footer>
        <!-- Widgets Start -->
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xl-3">
                        <div class="single-widget contact-widget" data-aos="fade-up" data-aos-delay="0">
                            <h6 class="widget-tiltle">&nbsp;</h6>
                            <p>By subscribing to our mailing list you will always be update with the latest news from
                                us.
                            </p>
                            <div class="media">
                                <i class="fa fa-map-marker"></i>
                                <div class="media-body ml-3">
                                    <h6>Address</h6>
                                    Level 13, 2 Elizabeth St,<br>
                                    Melbourne, Victoria 3000 Australia
                                </div>
                            </div>
                            <div class="media">
                                <i class="fa fa-envelope-o"></i>
                                <div class="media-body ml-3">
                                    <h6>Have any questions?</h6>
                                    <a href="mailto:support@steelthemes.com">Support@Steelthemes.com</a>
                                </div>
                            </div>
                            <div class="media">
                                <i class="fa fa-phone"></i>
                                <div class="media-body ml-3">
                                    <h6>Call us & Hire us</h6>
                                    <a href="tel:+610791803458"> +61 (0) 7 9180 3458</a>
                                </div>
                            </div>
                            <div class="media">
                                <i class="fa fa-fax"></i>
                                <div class="media-body ml-3">
                                    <h6>Fax</h6>
                                    <a href="fax:911889047521432">(91) 188904752 1432</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="single-widget twitter-widget" data-aos="fade-up" data-aos-delay="200">
                            <h6 class="widget-tiltle">Fresh Tweets</h6>
                            <div class="media">
                                <i class="fa fa-twitter"></i>
                                <div class="media-body ml-3">
                                    <h6><a href="#">@Themes,</a> Html Version Out Now</h6>
                                    <span>10 Mins Ago</span>
                                </div>
                            </div>
                            <div class="media">
                                <i class="fa fa-twitter"></i>
                                <div class="media-body ml-3">
                                    <h6><a href="#">@Envato,</a> the best selling item of the day!</h6>
                                    <span>20 Mins Ago</span>
                                </div>
                            </div>
                            <div class="media">
                                <i class="fa fa-twitter"></i>
                                <div class="media-body ml-3">
                                    <h6><a href="#">@Collis,</a> We Planned to Update the Enavto Author Payment Method
                                        Soon!</h6>
                                    <span>10 Mins Ago</span>
                                </div>
                            </div>
                            <div class="media">
                                <i class="fa fa-twitter"></i>
                                <div class="media-body ml-3">
                                    <h6><a href="#">@SteelThemes,</a> Html Version Out Now</h6>
                                    <span>15 Mins Ago</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="single-widget recent-post-widget" data-aos="fade-up" data-aos-delay="400">
                            <h6 class="widget-tiltle">Latest Updates</h6>
                            <div class="media">
                                <a class="rcnt-img" href="#"><img src="assets/images/rcnt-post1.png"
                                        alt="Recent Post"></a>
                                <div class="media-body ml-3">
                                    <h6><a href="#">An engaging</a></h6>
                                    <p><i class="fa fa-user"></i>Mano <i class="fa fa-eye"></i> 202 Views</p>
                                </div>
                            </div>
                            <div class="media">
                                <a class="rcnt-img" href="#"><img src="assets/images/rcnt-post2.png"
                                        alt="Recent Post"></a>
                                <div class="media-body ml-3">
                                    <h6><a href="#">Statistics and analysis. The key to succes.</a></h6>
                                    <p><i class="fa fa-user"></i>Rosias <i class="fa fa-eye"></i> 20 Views</p>
                                </div>
                            </div>
                            <div class="media">
                                <a class="rcnt-img" href="#"><img src="assets/images/rcnt-post3.png"
                                        alt="Recent Post"></a>
                                <div class="media-body ml-3">
                                    <h6><a href="#">Envato Meeting turns into a photoshooting.</a></h6>
                                    <p><i class="fa fa-user"></i>Kien <i class="fa fa-eye"></i> 74 Views</p>
                                </div>
                            </div>
                            <div class="media">
                                <a class="rcnt-img" href="#"><img src="assets/images/rcnt-post4.png"
                                        alt="Recent Post"></a>
                                <div class="media-body ml-3">
                                    <h6><a href="#">An engaging embedded the video posts</a></h6>
                                    <p><i class="fa fa-user"></i>Robert <i class="fa fa-eye"></i> 48 Views</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="single-widget tags-widget" data-aos="fade-up" data-aos-delay="800">
                            <h6 class="widget-tiltle">Popular Tags</h6>
                            <a href="#">Amazing</a>
                            <a href="#">Design</a>
                            <a href="#">Photoshop</a>
                            <a href="#">Art</a>
                            <a href="#">Wordpress</a>
                            <a href="#">jQuery</a>
                        </div>
                        <div class="single-widget subscribe-widget" data-aos="fade-up" data-aos-delay="800">
                            <h6 class="widget-tiltle">Subscribe us</h6>
                            <p>Sign up for our mailing list to get latest updates and offers</p>
                            <form class="" method="get">
                                <div class="input-group">
                                    <input class="field form-control" name="subscribe" type="email"
                                        placeholder="Email Address">
                                    <span class="input-group-btn">
                                        <button type="submit" name="submit-mail"><i class="fa fa-check"></i></button>
                                    </span>
                                </div>
                            </form>
                            <p>We respect your privacy</p>
                            <ul class="nav social-nav">
                                <li><a href="https://www.facebook.com/fh5co" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Widgets End -->
        <!-- Foot Note Start -->
        <div class="foot-note">
            <div class="container">
                <div
                    class="footer-content text-center text-lg-left d-lg-flex justify-content-between align-items-center">
                    <p class="mb-0" data-aos="fade-right" data-aos-offset="0">&copy; 2019 All Rights Reserved. Design by <a href="https://freehtml5.co/multipurpose" target="_blank" class="fh5-link">FreeHTML5.co</a>.</p>
                    <p class="mb-0" data-aos="fade-left" data-aos-offset="0"><a href="#">Terms Of Use</a><a
                            href="#">Privacy & Security
                            Statement</a></p>
                </div>
            </div>
        </div>
        <!-- Foot Note End -->
    </footer>
    <!-- Footer Endt -->
    <!--jQuery-->
    <script src="assets/js/jquery-3.3.1.js"></script>
    <!--Plugins-->
    <script src="assets/js/bootstrap.bundle.js"></script>
    <script src="assets/js/loaders.css.js"></script>
      <script src="assets/js/aos.js"></script>  
     <script src="assets/js/swiper.min.js"></script> 
     <script src="assets/js/lightgallery-all.min.js"></script> 
    <!--Template Script-->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/shop.js"></script>

</body>

</html>